cards-neurone/data/train_dir/
cards-neurone/data/test_dir/
cards-neurone/data/*.json

cards-backend/node_modules/
cards-backend/src/.env

cards-web-platform/node_modules/

node_modules/
/.idea/

/data/
/cards-neurone/model.h5
/cards-neurone/data/script/
/cards-neurone/data/script_test/
/img/
/mapper/
/venv/
/cards-neurone/data/


/cards-backend/src/core/doc/swagger/swagger.json
/cards-backend/src/email/
/decklist/
/cards-builder/data/train/data-apr23/
/cards-builder/script/csvToJson.py
/cards-builder/script/trained_model/config.json
/cards-builder/script/trained_model/generation_config.json
/cards-builder/script/trained_model/merges.txt
/cards-builder/script/trained_model/special_tokens_map.json
/cards-builder/script/trained_model/tf_model.h5
/cards-builder/script/trained_model/tokenizer_config.json
/cards-builder/script/trained_model/vocab.json
/import_wsl_ubuntu.py
/crlf_to_lf.py
/cards-builder/script/custom/csv_columns_name.py
/cards-builder/script/custom/csvToJson.py
/cards-builder/script/custom/game_data.json
/cards-builder/script/custom/rules_text.txt
/cards-builder/script/custom/txtTojson.py
